.login{
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
}

.loginTitle{
    font-size: 30px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm>label{
    margin: 10px 0
}

.loginInput{
    padding: 10px;
    background-color:white;
    border: none;
    font-family: monospace;
}

.loginButton{
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    background-color: lightgray;
    border: none;
    font-family: monospace;
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightgray;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-family: monospace;
}