.days{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.day{
    margin: 1px;
    width: 100px;
    height: 100px;
    background-color: lightgray;
    text-align:left;
}

.day > p{
    position: absolute;
    

}
.weekday{
    margin: 1px;
    padding: 20px;
    background-color: lightblue;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;

}

